- content_for :heading do
  - if @user == current_user
    My Profile
  - else
    = @user.full_name
    
.sidebar
  .item
    = image_tag @profile.avatar.url(:large)
    %br/
    = @profile.bio
    
    %h3 Your Friends
    - @user.facebook_friends.each do |friend|
      = link_to friend.full_name, profile_url(friend)
      %br/
    = render 'add_fb_friends_link'
    
    = link_to 'Edit', edit_profile_path(@profile)
    \|
    = link_to 'Back', profiles_path
#content
  - @products.each do |page|
    .item{:style => "height: #{rand(100) + 200}px;"}
      = page.title
.navigation
  = will_paginate @products