%h1
  Profile for
  = @user.email
%div
  = image_tag @profile.avatar.url(:large)
  %br/
  = @profile.bio
  
%div
  %h2 Your Friends
  - @user.facebook_friends.each do |friend|
    = link_to friend.full_name, profile_url(friend)
    %br/
%div
  = render 'add_fb_friends_link'

  = link_to 'Edit', edit_profile_path(@profile)
  \|
  = link_to 'Back', profiles_path
