#left_column

#right_column
  #home_text
    %h2 ShopVibe
    %p 
      A powerful new type of web &amp; mobile service that makes it easy for you to 
      %strong shop,share &amp; save
  #email_form_area
    = form_for @email do |f|
      -if @email.errors.any?
        #error_explanation
          %h2= "#{pluralize(@email.errors.count, "error")} prohibited this profile from being saved:"
          %ul
            - @email.errors.full_messages.each do |msg|
              %li= msg
      = f.text_field :email_address, :placeholder => 'enter email', :class => :email_field
      = f.submit 'notify', :class => :notify_button